.vscode/settings.json
books/cct/cct博士论文/Canted-Cosine-Theta Superconducting Accelerator Magnets for High Energy Physics and Ion Beam Cancer Therapy.pdf
*.pyc
books/cct/cctpy/discussion/20201204 第一次/陈鹤鸣matlab代码_用于比对/用于质子治疗的斜螺线管型超导磁体设计研究.docx
books/cct/cct匹配优化
books/cct/cct结构分析/Error1 Opera-3d估算洛伦兹力密度数值不正确.docx
